html
  head
    title= title
    link(rel="stylesheet", href="tachyons.min.css")
  body.ph3.pt0.pb4.mw7.center.sans-serif
    h1.f2.mb0 #[span.blue Trinsic] Node
    p.f5.mt1.mb4.lh-copy Trinsic Node Wallet

    ol.list.pl0
      li.mv3
        form(action="/refresh" method="POST")
          label.f6.b.db.mb2(for="searchWallet") Search
          input.f6.link.dim.br1.ba.bw1.ph3.pv2.mb2.dib.black.bg-white.pointer.ml2(type="submit" value="Search" id="searchWallet")
        form(action="/issue_credential" method="POST")
          label.f6.b.db.mb2(for="issueCredential") Issue Credential
          input.f6.link.dim.br1.ba.bw1.ph3.pv2.mb2.dib.black.bg-white.pointer.ml2(type="submit" value="Search" id="issueCredential")
    ol.list.pl0
      each walletItem in walletEntries
        li.mv3
        label.f6.b.db.mb2(for="credentialContent") Credential
        p #{walletItem}
