@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-navbar {
  transition: all 700ms ease;
  --webkit-transition: all 700ms ease;
}

.vertical-navbar-link {
  display: none;
}

.vertical-navbar-text {
  display: none;
}

.vertical-navbar:hover * .vertical-navbar-text {
  display: block;
}

.vertical-navbar:hover * .vertical-navbar-link {
  display: block;
}

.vertical-navbar-menu-icon {
  transform: rotate(0deg);
  transition: transform 700ms;
}

.vertical-navbar:hover * .vertical-navbar-menu-icon {
  transform: rotate(-180deg);
}