@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-navbar-link {
  display: none;
}

.vertical-navbar-text {
  display: none;
}

.vertical-navbar-spacer {
  display: block;
}

.vertical-navbar:hover * .vertical-navbar-link {
  display: block;
}

.vertical-navbar:hover * .vertical-navbar-text {
  display: block;
}

.vertical-navbar:hover * .vertical-navbar-spacer {
  display: none;
}

.vertical-navbar-menu-icon {
  transform: rotate(0deg);
  transition: transform 700ms;
}

.vertical-navbar:hover * .vertical-navbar-menu-icon {
  transform: rotate(-180deg);
}

.fade-in-text {
  animation: fadeIn ease-in 1s;
  -webkit-animation: fadeIn ease-in 1s;
  -moz-animation: fadeIn ease-in 1s;
  -o-animation: fadeIn ease-in 1s;
  -ms-animation: fadeIn ease-in 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}