@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<PageTitle>Sign In</PageTitle>

<h1>Sign In!</h1>

@if (!protection) {
    <EditForm OnValidSubmit="@SignIn" Model="@Model">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" @bind-value="Model.Email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Please use valid email. We'll send you a confirmation code.</small>
        </div>
        <div class="form-group">
            <label for="inputName">Full Name</label>
            <input type="text" class="form-control" id="inputName" @bind-value="Model.FullName" placeholder="Enter your full name">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember my account info on this device</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>

}
else
{
    <EditForm OnValidSubmit="@OnUnprotect" Model="@UnprotectModel">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="exampleInputEmail1">Security Code</label>
            <input type="email" class="form-control" id="exampleInputEmail1" @bind-value="UnprotectModel.SecurityCode" aria-describedby="emailHelp" placeholder="Enter your code">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
}